# START MultiPHP Version
<FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
    SetHandler application/x-httpd-alt-php83___lsphp
</FilesMatch>
# END MultiPHP Version
<IfModule mod_rewrite.c>
    RewriteEngine On

    # If hosting cannot point DocumentRoot to /public, rewrite everything there.
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

